body {
  margin: 0px;
  background-color: #202737;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-image: url("https://images.teepublic.com/derived/production/designs/76837001_3/1751061649/i_m:pid_477,c_238_76_1108x1108,bc_36538b,ar_1x1,o_portrait,pm_4,s_630,q_90.jpg");
  margin: 20px;
  border-radius: 15px;
  border: 5px solid rgba(118, 0, 233, 0.375);
}

img {
  display: none;
}
